.DS_Store
.Rhistory


# Pipeline Outputs
results/
test_results/
run.log

# R-specific temporary files
.RData
.Rhistory
.Rproj.user/
*.rds

# LLM-related assets
./docs/superpowers/
.gemini/
.geminiignore
.claude/
.aider/
.cursor/
.windsurf/
